<!DOCTYPE html>
<head>
<title>Pushed to Master | Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pushed to master" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">


</head>
<body>
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-7 login m-2">
				<h1 class="gris" style="text-align: center">PUSHED TO MASTER</h1>
				<br>
				<h2>¿Quiénes Somos?</h2>
				<p>Somos un grupo de estudiantes de Ingeniería en  Ciencias de la Computación cursando el ramo de Ingeniería de Software, buscando aprender métodos de desarrollo de software. 
				</p>				
				<h2>¿Cuál es nuestro objetivo?</h2>
				<p>Contruir un sistema que permita registrar y analizar el uso de tiempo del usuario bajo la premisa de que con esta información será capaz de identificar cómo ser más eficaz respecto a este.
				</p>

			</div>
			<div class="col-md-4 login m-2">
					<div class="gris" style="text-align: center">

					<img src="{% static 'img/opti.png' %}" style="margin: 0 auto; display:block; width:50%" alt="">
					
					<br>
					<h2>INICIAR SESIÓN</h2>	
					</div>
						<form method="post">
							{% csrf_token %}
							{{ form }}

							<div class="clearfix"></div>
							<div class="d-flex align-items-end flex-column">
							<div class="mt-auto p-2"><input type="submit" class="btn btn-sm btn-success" value="INICIAR SESIÓN" name="login"></div>
							</div>						
						</form>
							<span class="gris"><input type="checkbox" />Remember Me</span>
							<h6 class="gris"><a href="#">Forgot Password?</a></h6>		
							<br>
							<button class="btn btn-sm btn-primary" style="margin: 0 auto; display: block; width: 90%">
								<h2 style="color: #FFF;">REGISTRARTE</h2></button>		
			</div>
		</div>				
	</div>
	<footer>
	© 2019 Pushed To Master. All rights reserved	
	</footer>
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
