
<nav id="sidebar">
    <div class="sidebar-header text-center py-5">
        <h1>PUSHED TO MASTER</h1>
    </div>
    <div class="text-center py-3">
        {% if name %}
        <img src="../../{{ request.user.image_url | default:'static/img/avatar.png'}}" class="avatar px-2 py-2">
        {% else %}
        <img src="{{ request.user.image_url | default:'static/img/avatar.png'}}" class="avatar px-2 py-2">
        {% endif %}
        
        <p class="h6">Bienvenido <br><b>{{request.user.first_name}}</b></p>
    </div>
    <ul class="list-unstyled components text-left">
        <li>
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Perfil</a>
            <ul class="collapse list-unstyled text-left" id="pageSubmenu">
                <li>
                    <a href="{% url 'profile' %}">Mi Perfil</a>
                </li>
                <li>
                    <a href="{% url 'seguridad' %}">Seguridad</a>
                </li>
                <li>
                    <a href="{% url 'amigos' %}">Amigos</a>
                </li>
                <li>
                    <a href="{% url 'actividades' %}">Mis Actividades</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Otra cosa</a>
        </li>
    </ul>

    <ul class="list-unstyled text-center py-4">
        <button type="button" onclick="location.href='/logout'" class="btn btn-danger">Cerrar Sesión</button>
    </ul>
</nav>


